<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>タイトル</th>
      <th>内容</th>
      <th>画像</th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.user.name%></td>
        <td><%= picture.title %></td>
        <td><%= picture.content %></td>
        <td><%= image_tag(picture.image.url, style: 'width: 200px; height: 180px;') if picture.image && picture.image.url %></td>
        <td><%= link_to '詳細', picture %></td>
        <td><%= link_to '編集', edit_picture_path(picture) %></td>
        <td><%= link_to '削除', picture, method: :delete, data: { confirm: '本当によい？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規投稿', new_picture_path %>
